/* 
    Document   : terminal-green
    Created on : Nov 10, 2010, 6:15:36 AM
    Author     : me
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@import url("default-black.css");
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

#_Panel {
    color: #D282F2;
    font-family: 'Gochi Hand', cursive;
    background-color: transparent;
}

#_Panel a {
    color: #9999ff;
    font-family: 'Gochi Hand', cursive;
}

body {
   background: url('/static/themes/image/concrete.jpg') no-repeat;
   background-size: 100%;
}

Status {
    color: white;
}


#Status a {
    font-family: 'Gochi Hand', cursive;
}
#_Font a {
    font-family: 'Gochi Hand', cursive;
}
